  <div class="flex items-center gap-x-4">
    <div class="diagram-container" id="diagram-container">
      <pre class="mermaid">
        {{ datacontract.to_mermaid() }}
      </pre>
    </div>
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: false });
      await mermaid.run({
        querySelector: '.mermaid',
        postRenderCallback: (id) => {
          const container = document.getElementById("diagram-container");
          const svgElement = container.querySelector("svg");

          // Initialize Panzoom
          const panzoomInstance = Panzoom(svgElement, {
            maxScale: 5,
            minScale: 0.5,
            step: 0.1,
          });

          // Add mouse wheel zoom
          container.addEventListener("wheel", (event) => {
            panzoomInstance.zoomWithWheel(event);
          });
        }
      });
    </script>
  </div>